<div *ngIf="isShimmerLoading">
  <ngx-shimmer-loading [shape]="'rect'" [width]="'70px'"></ngx-shimmer-loading>
  <ngx-shimmer-loading [shape]="'rect'" [width]="'110px'"></ngx-shimmer-loading>
  <ngx-shimmer-loading [shape]="'rect'" [width]="'95px'"></ngx-shimmer-loading>
</div>
<div *ngIf="!isShimmerLoading">
  <ng-container *ngFor="let usuario of listaUsuarios; let i = index">
    {{usuario.nome}}<br />
  </ng-container>
</div>
